.App {
  min-height: 100vh;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}
.search__form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search__form--bar {
  width: 50%;
  border: none;
  padding: 10px;
}

.search__form--button {
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
  border: none;
  padding: 10px 20px;
  color: black;
}

.recipe__wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
